{% extends "base.html" %}

{% block content %}
  <style type="text/css" media="screen">
    #editor { 
      width: 940px;
      height: 600px;
    }
  </style>
  <script src="/static/ace-builds/src-noconflict/ace.js" type="text/javascript"></script>
  <div class="page-header">
    <h1>Page name <small>Supporting text or tagline</small></h1>
  </div>
  <div class="row">
    <div class="span12">
      <h2>{{ template.filename }} in {{ template.templateset.name }}</h2>
      <div id="editor">{{ template.code }}</div>
      <form method="POST" id="submit">
	{% csrf_token %}
	<textarea id="code" name="code" style="display:none">{{ template.code }}</textarea>
	<input type="submit" />
      </form>
    </div>
  </div>
  <script>
      window.editor = ace.edit("editor");
      editor.renderer.setShowPrintMargin(false);
      editor.getSession().setMode("ace/mode/html");
      $("#submit").submit(function() {
        var code = editor.getSession().getValue();
        $("#code").val(code);
      });
  </script>
{% endblock %}
